/* Google Font Family*/

font-family: 'Indie Flower', cursive;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Gloria Hallelujah', cursive;
body {}

.body-container {
  margin-top: 120px;
  position: relative;
  overflow: hidden;
  letter-spacing: 2px;
}

.body-container h1 {
  margin-top: -120px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 30px;
  position: fixed;
  width: 100%;
  z-index: 1;
  text-align: center;
  font-size: 5em;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 900;
  background-color: rgba(44, 121, 244, 1);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.form-control {
  letter-spacing: 2px;
}

.body-container img {
  position: absolute;
  left: 0;
  top: px;
  width: 100%;
  height: auto;
  opacity: 1;
}

.section-container {
  background-color: rgba(186, 186, 186, .6);
}

.ul-box {
  width: 100%;
  justify-content: center;
  padding-left: 50px;
}

.button-box {
  position: relative;
  top: 0;
  right: 0:
}

.li-time {
  border-bottom: 1px solid #000;
  width: 92%;
  padding: 18px 0px 0px 0px;
}

.li-time:last-of-type {
  border-bottom: none;
  padding-top: 12px;
}

/*    css for weekly list item box    */

.day-box {
  width: 100%;
  margin-left: 35px;
  padding: 10px 10px 10px 40px;
  border: 2px solid #000;
  list-style: none;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 900;
  float: right;
  background-color: rgba(231, 232, 234, 0.7);
  letter-spacing: 2px;
  border-radius: 5px;
}

/*    CSS for Delete and Complete Button on Weekly List Items        */

.remove {
  float: right;
  margin: -29px 0px 0px 0px;
  padding: 0px 15px 0px 0px;
  background: none;
  position: relative;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2em;
  color: rgb(211, 31, 31);
  transition: all 0.6s ease 0s;
}
.remove-completed{
  float: right;
  margin: -19px 0px 0px 0px;
  padding: 13px 15px 7px 0px;
  background: none;  position: relative;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2em;
  color: rgb(211, 31, 31);
  transition: all 0.6s ease 0s;
}

.remove:hover {
  transform: scale(2.1);
}

.complete {
  float: right;
  margin: -30px -50px 0px 0px;
  padding: 0px 15px 0px 0px;
  background: none;
  position: relative;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-size: 1.3em;
  color: green;
  transition: all 0.6s ease 0s;
}

.complete:hover {
  transform: scale(2.1);
}

/*   CSS for decoration on Forms       */

.day-header {
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 600;
  text-align: center;
}

.ul-h2 {
  margin-top: 25px;
}

.box {
  margin-left: -15px;
}

.form-header {
  margin-top: 175px;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 600;
}

.form-box {
  width: 100%;
  text-align: center;
  justify-content: center;
  opacity: 0.8;
}

.form-group {
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 600;
}

.comp-header {
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 900;
  text-align: center;
  justify-content: center;
  margin-top: 12px;
}

.comp-li {
  padding: 5px;
  border: 2px solid #000;
  list-style: none;
  margin-bottom: 60px;
  text-align: center;
  justify-content: center;
  background-color: rgba(231, 232, 234, 0.7);
  border-radius: 5px;
}

.comp-ul {
  list-style: none;
  text-align: center;
  justify-content: center;
}

.submit-button {
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0px;
}

/*      Completed List Item Box     */

.ul-complete {
  width: 100%;
  text-align: left;
  display: inline;
  font-size: 1.4em;
  position: relative;
  list-style: none;
}

/* .li-completed{
    border-bottom: 1px solid #000;
    padding: 0px 0px 18px 0px;
    margin: 0px 0px 0px 0px;
} */

@media (max-width: 768px) {
  #form-col {
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    margin-top: -140px;
    margin-bottom: 50px;
  }
  #ul-col {
    -webkit-order: 3;
    -ms-order: 3;
    order: 3;
  }
  #div-complete {
    -webkit-order: 4;
    -ms-order: 4;
    order: 4;
  }
  .submit-button {
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
  }
}
